body {
    background-size: cover;
}
.header {
    width: 100%;
    box-shadow: 1px 10px 40px darkblue;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}
.song-name {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-size: 24px;
    border-radius: 10px;
    font-family: 'Anek Gujarati', sans-serif;
}
canvas {
    border: 3px solid white;
}